
body {
  padding: 0;
  margin: 0;
  background-color: lightblue;

}

* {
  box-sizing: border-box;
}

button {
margin-left: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

h2 {
  background-color: red;
  padding: 30px 40px;
  color: blue;
  text-align: center;
}

.input-group {
  background-color: #149189;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

